body {
    margin: 0 auto;
    max-width: 1024px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position: relative;
    margin: 15px 20px;
}

header h1 {
    color: white;
    font-size: 25px;
    text-shadow: 0 0 1px grey;
    margin: 0 0 35px;
}

header nav ul {
    padding: 0;
    margin: 0;
}

header nav ul li {
    display: inline-block;
    padding: 15px 10px 15px 10px;
}

aside {
    margin: 6px 0;
    width: 35%;
}

aside,
.seccion1 {
    display: inline-block;
    vertical-align: top;
}

.seccion1 {
    width: 60%;
}

.secc1art1 {
    text-align: center;
}

.secc1art1 img {
    width: 90%;
}

.secc1art2 {
    margin: 0 25px;
    padding: 20px 0;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
}

.secc1art2 h2 {
    color: grey;
    margin: 0 0 10px;
}

.secc1art2 p {
    font-size: 14px;
}

.img-post,
.contenido-post {
    display: inline-block;
    vertical-align: top;
}

.img-post {
    width: 28%;
    border: 6px solid silver;
}

.contenido-post {
    width: 68%;
    padding-left: 3px;
}

.autor-post {
    box-shadow: 1px 1px 0 0 rgb(169, 164, 164);
    width: 98%;
    display: block;
    background: rgb(255, 252, 252);
    font-size: 12px;
    padding: 8px 5px;
    border-radius: 8px;
}

.italica-autor {
    font-style: italic;
    color: grey;
}

#leer-mas {
    background: silver;
    color: #ffffff;
    border-radius: 8px;
    padding: 8px;
    border: none;
    font-style: italic;
}

.redes {
    position: absolute;
    top: 30px;
    right: 20px;
}

.barra {
    color: white;
    font-weight: 600;
    background-image: linear-gradient(#ef6000 5%, #fed0b2 10%, #ef6000 40%);
    border-radius: 7px;
}

.centrar {
    text-align: center;
    padding: 8px 0;
    border-radius: 12px;
}

.publicidad,
.buscador,
.categorias {
    border: 1px solid silver;
    border-radius: 12px;
    margin: 20px 0;
}

.publicidad-imagenes {
    /*Un text align centra imagenes xd*/
    text-align: center;
    margin: 20px 10px 0;
}

.buscador form {
    text-align: center;
    margin: 15px 0 10px;
}

.buscador form span {
    border: 1px solid silver;
    border-radius: 18px;
    padding: 9px 5px 10px;
}

.buscador form input[type="search"] {
    border-radius: 12px;
    height: 30px;
    width: 200px;
    padding: 5px;
    border: inherit;
}

.buscador form input[type="submit"] {
    border-radius: 30px;
    height: 30px;
    background-color: silver;
    color: white;
    border: 2px solid grey;
}

.categorias ul li {
    font-size: 14px;
    padding: 5px 0;
    margin-right: 20px;
    color: rgb(108, 107, 107);
    border-bottom: 1px dotted grey;
}