body {
    max-width: 1024px;
}

header {
    background: azure;
    color: grey;
    text-align: center;
}

header nav ul li {
    background: orange;
    color: white;
    border-radius: 5px;
    width: 90px;
    display: inline-block;
    padding: 10px 0 10px 0;
    margin: 10px;
}


/* Cuando pase el cursor se muestre el color*/

header nav ul li:hover {
    background-color: indianred;
}

footer {
    background: gray;
    color: black;
}


/* Para un class en especifico*/

.inicio {
    color: rgb(27, 165, 119);
}


/* # para el id
. para el class
header nav ul li - para poder acceder, se debe poner el orden de acceso*/